<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/conversations/index">Inbox</a></li>
  <li class="curent-page">Edit Message</li>
</ol>

<div class="container edit-reply">
  <%= form_for(@message, url: update_message_path(@message), method: :patch, :html => {class:"form-horizontal"}) do |f| %>
    <fieldset>
      <div class="form-group edit-reply-header">
        <span class="col-md-7 col-md-offset-5">
          <em>Edit Message</em>
        </span>
      </div>

      <div class="form-group">
        <div class="col-xs-2"></div>

        <div class="col-xs-7">
          <%= f.text_field :content, placeholder: "Enter your message here",class: "form-control"%>
        </div>

        <div class="col-xs-3">
          <%= f.submit 'Send', class: "btn btn-default submit-btn"%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
