<div class="container-fluid container-border gray-background">
  <%= form_for([@survey, @survey.answers.build], :html => {class:"form-horizontal"}) do |f| %>

    <fieldset>
      <div class="form-group post-header">
        <span class="col-md-7 col-md-offset-5">
          <em>New Comment</em>
        </span>
      </div>

      <div class="form-group">
        <div class="col-xs-2"></div>

        <div class="col-xs-7">
          <%= f.text_area :answer, placeholder: "Minimum length: 2", class: "form-control wysihtml5"%>
        </div>

        <div class="col-xs-2"></div>
      </div>

      <div class="form-group">
        <div class="col-xs-2"></div>

        <div class="col-xs-7">
          <%= f.submit 'Post', class: "btn btn-default submit-btn btn-block"%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<%= javascript_tag do %>
    textOption();
<% end %>
